@font-face {
font-family: 'Roboto-Regular';
src: url('../fonts/Roboto-Regular.eot');
src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Roboto-Light';
src: url('../fonts/Roboto-Light.eot');
src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light.woff2') format('woff2'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype'),
	url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
font-weight: 300;
font-style: normal; 
}

@font-face {
font-family: 'Roboto-Medium';
src: url('../fonts/Roboto-Medium.eot');
src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff2') format('woff2'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype'),
	url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
font-weight: 500;
font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto-Regular', sans-serif;
}

body {
	background-color: #ececec;
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {
	margin-bottom: 10px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

input[type=text],
input[type=tel],
input[type=number],
textarea,
select {
	width: 100%;
	padding: 10px 25px;
	outline: none;
	border: none;
	border-radius: 24px;
	background-color: #ffffff;
	font-size: 16px;
	color: rgb(68, 74, 89);
}

button {
	outline: none;
}

ol, ul {
	list-style: none;
}

h2 {
	color: #ffffff;
	font-size: 35px;
	line-height: 27px;
	text-transform: uppercase;	
	margin-bottom: 30px;		
}

input::placeholder {
	opacity: .3;
} 

#page {
	position: relative;
}

.btn-main {
	background-color: #ff9800;
	border-radius: 20px;
	border: none;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	text-transform: uppercase;
	padding: 0 15px;
	cursor: pointer;
	transition: background-color .6s;
	&:hover {
		background-color: darken(#ff9800, 10%);
	}
}

.header {
	padding: 15px 0 314px 0;
	background: url(../img/header/header-bg.png);
	background-repeat: no-repeat;
	position: relative;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
	.contacts-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
    margin-bottom: 28px;
		&__left {
			display: flex;
			align-items: center;
		}
		&__right{
			display: flex;
			align-items: center;
		}
		&__logo {
			margin-right: 18px;
			a {
				cursor: pointer;
				img {
					width: 80%;
				}
			}
		}
		&__placeOfWorck {
			display: flex;
			&_adress, &_timeWorck {
				color: #ffffff;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				text-transform: uppercase;
				margin-right: 27px;
			}
		}
		&__phone { 
			display: flex;
			flex-direction: column;
			margin-right: 18px;
			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				text-transform: uppercase;
				color: #ff9800;
			}
		}
	}
	.main-menu {
		display: flex;
	}
	.menu {
		margin-right: 10px;
		&-list {
			display: flex;
			li:last-child {
				margin-right: 0;
			}
			&__link {
				list-style: none;
				margin-right: 15px;
				border-bottom: 2px solid #5eade9;
				transition: border 0.6s;
				a {
					color: #ffffff;
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
					text-decoration: none;
					opacity: 0.5;
					transition: opacity 0.6s;
				}
			}
			&__link:hover a {
				opacity: 1;
			}
			&__link:hover {
				border-bottom: 2px solid #fff;
			}
		}
	}
	.menu-catalog {
		background-color: #95a3c2;
		padding: 13px 27px 10px 27px;
		border-radius: 45px;
		margin-bottom: 55px;
		position: relative;
		ul li ul {
			display: none;
		}
		ul li:hover > ul {
			display: block;
		}
		&__active {
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: -8px;
			opacity: 0;
			transition: left .5s ease-out, opacity .3s ease-in;
		}
		&-list {
			display: -webkit-box;
			align-items: center;
			&__link {
				margin-right: 25px;
				position: relative;
				img {
					min-height: 42px;
				}
				span {
					position: absolute;
					right: -16px;
					text-align: center;
					color: #ffffff;
					font-size: 10px;
					font-weight: 400;
					text-transform: uppercase;
					margin-top: 25px;
			    min-height: 70px;
				}
			}
			&__link:last-child {
				margin-right: 0;
			}
			&__link:hover span {
				color: #ff9700;
			}
			&__link:hover img {
				filter: invert(55%) sepia(79%) saturate(1195%) hue-rotate(359deg) brightness(127%) contrast(105%);
			}
			&__submenu {
				position: absolute;
				width: 400px;
		    background-color: #ffffff;
		    border-radius: 15px;
		    padding: 15px 0;
		    top: 125px;
		    right: -60px;
		    &_link {
		    	padding: 0 15px;
		    	&:hover {
						background-color: #ff9700;
						border-radius: 20px;
					}
					&:hover a{
						background-color: #ff9700;
						color: #fff;
					}
		    	a {
		    		color: #222665;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						font-weight: bold;
						&:hover {
							text-decoration: none;
							color: #fff;
						}
		    	}
		    }
			}
		}
	}
	.main-title {
		margin-top: 80px;
		h1 {
			color: #ffffff;
			font-size: 40px;
			line-height: 27px;
			text-transform: uppercase;
			margin-bottom: 13px;
		}
	}
	.main-subtitle {
		margin-bottom: 27px;
		p {
			color: #ffffff;
			font-family: 'Roboto-Light';
			font-size: 25px;
			line-height: 27px;
			width: 450px;
		}
	}
	.main-form {
		display: flex;
		width: 480px;
		&__left {
			width: 48%;
			margin-right: 15px;
		}
		&__right {
			width: 48%;
		}
		input {
			background-color: #9fb6d3;
			padding: 2px 15px;
			margin-bottom: 16px;
			color: #fff;
		}
		input::placeholder { 
			font-size: 15px;
			color: #fff;
			text-transform: uppercase; 
		} 
		&__btn {
			padding: 2px 15px;
			font-size: 15px;
		}
	}
}

.menu-catalog:hover .menu-catalog__active img {
	animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.repair {
	background-color: #ececec;
	position: relative;
	&-content {
		position: relative;
    top: -135px;
	}
	&-items {
		&__item {
			text-align: center;
			margin-bottom: 25px;
			&_img {
				justify-content: center;
    		display: flex;
    		position: relative;
    		img {
    			margin-bottom: 10px;
    			z-index: 45;
    		}
    		a:hover {
    			text-decoration: none;
    		}
			}
			&_label {
				color: #222665;
				font-size: 20px;
				line-height: 27px;
				text-transform: uppercase;
			}
		}
	}
	&-menu-catalog__active {
		position: absolute;
		top: 0;
    margin-top: -13px;
    left: 56px;
		opacity: 1;
		z-index: 40; 
		transition: left .5s ease-out, opacity .3s ease-in;
		img {
			width: 195px;
		}
	}
}
.repair-items__item_img:hover .repair-menu-catalog__active img {
	animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.advantages {
	background-color: #fff;
	position: relative;
  top: -150px;
  margin-bottom: -150px;
  &-wrap {
  	position: relative;
  	top: -70px;
  }
	.arc {
		img {
	    width: 100%;
		}
	}	
	&-title {
		h2 {
			color: #222665;
		}
	}
	&-items {
		&__item {
			background: rgba(38,61,123,1);
			background: -moz-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
			background: -webkit-gradient(left top, right top, color-stop(-30%, rgba(38,61,123,1)), color-stop(50%, rgba(62,108,169,1)), color-stop(130%, rgba(38,61,123,1)));
			background: -webkit-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
			background: -o-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
			background: -ms-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
			background: linear-gradient(to right, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263d7b', endColorstr='#263d7b', GradientType=1 );
			border-radius: 80px;
	    min-height: 121px;
	    padding: 15px 40px;
	    margin-bottom: 23px;
			&_title {
				font-family: 'Roboto-Medium';
				color: #ffffff;
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 14px;
			}
			&_descr {
				display: flex;
				align-items: center;
				&_icon {
					margin-right: 19px;
				}
				&_text {
					p {
						color: #ffffff;
						font-family: 'Roboto-Light';
						font-size: 16px;
						line-height: 21px;
					}
				}
			}
		}
	}
}

.cost {
	background: url(../img/cost/cost-bg.jpg);
	background-repeat: no-repeat;
  background-color: #fff;
	background-size: 100% 92%;
	padding: 30px 0 0 0;
	&-wrap {
		display: flex;
		&__descr {
			&_title {
				margin-top: 9px;
			}
			&_text {
				p {
					color: #ffffff;
					font-size: 20px;
					line-height: 27px;
					width: 550px;
					&:first-child {
						margin-bottom: 20px;
					}
				}
				a {
					color: #ffffff;
				}
			}
			&_img {
			}
		}
	}
}

.workScheme {
	background-color: #fff;
	padding-bottom: 40px;
	padding-top: 35px;
	&-main {
		margin: 0 80px;
		display: flex;
		margin-bottom: 28px;
		&__text {
			text-align: center;
			color: #222665;
			font-size: 29px;
			line-height: 35px;
			text-transform: uppercase;
		}
		&__img {
			&_1 {
		    display: flex;
		    align-items: flex-end;
			}
		}
	}
	&-menu-catalog {
		display: none;
		padding: 25px 66px;
		height: 115px;
		margin: 0 35px;
		border-radius: 60px;
		margin-bottom: 55px;
		position: relative;
		background: rgba(38,61,123,1);
		background: -moz-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
		background: -webkit-gradient(left top, right top, color-stop(-30%, rgba(38,61,123,1)), color-stop(50%, rgba(62,108,169,1)), color-stop(130%, rgba(38,61,123,1)));
		background: -webkit-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
		background: -o-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
		background: -ms-linear-gradient(left, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
		background: linear-gradient(to right, rgba(38,61,123,1) -30%, rgba(62,108,169,1) 50%, rgba(38,61,123,1) 130%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263d7b', endColorstr='#263d7b', GradientType=1 );
		&-list {
	    width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__link {
				position: relative;
				& .label-1 {
					text-align: right;
				}
				& .label-2 {
					margin: 0 auto;
				}
				& .label-3 {
					margin-top: 34px;
    			right: -47px;
				}
				& .label-4 {
					margin-top: 30px;
    			right: -47px;
				}
				& .label-5 {
					margin-top: 32px;
    			right: -55px;
				}
				& .label-6 {
					margin-top: 32px;
    			right: -59px;
				}
				span {
					position: absolute;
					right: -16px;
					text-align: center;
					color: #222665;
					font-size: 15px;
					font-weight: 400;
					text-transform: uppercase;
					margin-top: 25px;
			    min-height: 70px;
			    width: 162px;
				}
				&_active {
					span {
						color: #ff9700;
					}
					img {
						filter: invert(55%) sepia(79%) saturate(1195%) hue-rotate(359deg) brightness(127%) contrast(105%);
					}
				}
			}
			&__link:last-child {
				margin-right: 0;
			}
			&__submenu {
				position: absolute;
				width: 400px;
		    background-color: #ffffff;
		    border-radius: 15px;
		    padding: 15px 0;
		    top: 125px;
		    right: -60px;
		    &_link {
		    	padding: 0 15px;
		    	&:hover {
						background-color: #ff9700;
						border-radius: 20px;
					}
					&:hover a{
						background-color: #ff9700;
						color: #fff;
					}
		    	a {
		    		color: #222665;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						font-weight: bold;
						&:hover {
							text-decoration: none;
							color: #fff;
						}
		    	}
		    }
			}
		}
	}
	&-h2 {
		h2 {
			color: #222665;
			margin-top: 100px;
		}
	}
	&-steps {
		display: flex;
		&__step {
			margin-right: 5px;
			&_title {
				background: linear-gradient(to bottom left, #1f2e6c, #263b79);
				color: #ffffff;
				font-family: 'Roboto-Medium';
				font-size: 14px;
				line-height: 15px;
				text-transform: uppercase;
				padding: 11px 35px 11px 17px;
				margin-bottom: 5px;
				position: relative;
				&_1 {
			    width: 130px;
				}
				&:before {
					content: url(../img/workScheme/step_2.png);
					position: absolute;
					left: 0;
					top: -4px;
				}
				&:after {
					content: url(../img/workScheme/step_1.png);
					position: absolute;
					right: 0;
					top: -4px;
				}
			}
			&_descr {
				padding-left: 17px;
				color: #222665;
				font-size: 14px;
				line-height: 16px;
				font-family: 'Roboto-Light';
			}
		}
	}
	&-header {
		.workScheme {
			&-list {
				display: flex;
				li:last-child {
					margin-right: 0;
				}
				&__link {
					list-style: none;
					margin-right: 15px;
					border-bottom: 2px solid #5eade9;
					transition: border 0.6s;
					a {
						color: #ffffff;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						text-decoration: none;
						opacity: 0.5;
						transition: opacity 0.6s;
					}
				}
				&__link:hover a {
					opacity: 1;
				}
				&__link:hover {
					border-bottom: 2px solid #fff;
				}
			}
		}
		.workScheme-catalog {
			background: linear-gradient(to right,#263d7b -30%,#3e6ca9 50%,#263d7b 130%);
	    height: 115px;
	    margin: 0 27px;
	    border-radius: 70px;
			padding: 25px 27px 10px 27px;
			border-radius: 45px;
			margin-bottom: 55px;
			position: relative;
	    border-radius: 65px;
			ul li ul {
				display: none;
			}
			ul li:hover > ul {
				display: block;
			}
			&__active {
				position: absolute;
				top: 50%;
				margin-top: -70px;
				left: -8px;
				opacity: 0;
				transition: left .5s ease-out, opacity .3s ease-in;
			}
			&-list {
				display: flex;
				align-items: center;
				justify-content: space-around;
				&__link {
					margin-right: 25px;
					position: relative;
					img {
						min-height: 42px;
						width: 145%;
					}
					span {
						position: absolute;
						right: -32px;
						text-align: center;
						color: #222665;
						font-size: 15px;
						font-weight: 400;
						text-transform: uppercase;
						margin-top: 35px;
				    min-height: 70px;
		        width: 120px;
					}
				}
				&__link:last-child {
					margin-right: 0;
				}
				&__link:hover span {
					color: #ff9700;
				}
				&__link:hover img {
					filter: invert(55%) sepia(79%) saturate(1195%) hue-rotate(359deg) brightness(127%) contrast(105%);
				}
				&__submenu {
					position: absolute;
					width: 400px;
			    background-color: #aeb6caf2;
			    border-radius: 15px;
			    padding: 15px 0;
			    top: 160px;
			    right: -60px;
			    &_link {
			    	padding: 0 15px;
			    	&:hover {
							background-color: #ff9700;
							border-radius: 20px;
						}
						&:hover a{
							background-color: #ff9700;
							color: #fff;
						}
			    	a {
			    		color: #222665;
							font-size: 14px;
							font-weight: 400;
							text-transform: uppercase;
							font-weight: bold;
							&:hover {
								text-decoration: none;
								color: #fff;
							}
			    	}
			    }
				}
			}
		}
	}
}

.workScheme-catalog__active img {
	width: 140%;
}

.workScheme-catalog:hover .workScheme-catalog__active img {
	animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.whatTech {
	background: url(../img/whatTech/whatTech-bg.png);
	background-color: #fff;
	background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  position: relative;
  padding: 110px 0 10px;
  &-items {
  	display: flex !important;
  }
  &-item {
  	display: flex;
    justify-content: flex-end;
    align-items: center;
    &:first-child {
    	margin-right: 20px;
    }
    &__right {
    	width: 450px;
    }
  }
	&-h2 {
		margin-bottom: 82px;
		position: absolute;
    top: 70px;
	}
	&-title {
		margin-bottom: 30px;
	}
	&-work {
		&__list {
			margin-bottom: 17px;
			&_text {
				color: #ffffff;
				font-family: 'Roboto-Light';
				font-size: 20px;
				line-height: 27px;
			}
		}
	}
	.btn-main {
		padding: 5px 27px;
	}
}

.popular {
	padding: 65px 0 0 0;
  margin-bottom: -30px;
	&-container {
		margin: auto;
		padding-left: 100px;
		width: 1240px;
	}
	&-tiltle {
		h2 {
			color: #222665;
			line-height: 40px;
			span {
				padding-right: 30px;
			}
		}
	}
	&-items {
		display: flex;
		&__main {
			display: flex;
			align-items: center;
		}
		&__left {
			width: 600px;
			margin-right: 25px;
		}
		&__list {
			margin-right: 10px;
			list-style: disc;
			margin-left: 20px;
			&_text {
				color: #222665;
				font-family: 'Roboto-Light';
				font-size: 20px;
				line-height: 27px;
			}
		}
		&_form {
	    width: 230px;
			input {
				background-color: #222665;
				color: #fff;
				padding: 5px 23px;
				margin-bottom: 10px;
			}
			button {
				padding: 2.5px 23px;
				margin-bottom: 10px;
				width: 100%;
			}
		}
		&__right {
			position: relative;
			&_text {
				color: #fff;
				font-family: 'Roboto-Light';
		    font-size: 12px;
		    line-height: 16px;
				width: 160px;
				position: absolute;
		    top: 50%;
		    margin-top: -60px;
		    left: 45px;
		    text-transform: uppercase;
			}
		}
	}
}

.time {
	background: url(../img/cost/cost-bg.jpg);
	background-repeat: no-repeat;
  background-size: 100% 98%;
  padding: 1.875rem 0 0;
	&-title {
		h2 {
	    margin-bottom: 10px;
		}
	}
	&-subtitle {
		color: #ffffff;
		font-size: 23px;
		line-height: 27px;
		font-family: 'Roboto-Light';
    margin-bottom: 6px;
	}
	&-items {
		display: flex;
		width: 1220px;
	  align-items: center;
	  margin: 0 auto;
	}
	&-form {
		text-align: end;
    width: 456px;
		&__item {
			display: flex;
			text-align: start;
		}
		label {
			width: 400px;
			font-family: 'Roboto-Light';
			color: #ffffff;
			font-size: 21px;
			line-height: 22px;
			margin-right: 25px;
		}
		input {
			background: #9bb1ce;
			color: #ffffff;
			font-size: 19px;
			padding: 3px 15px;
			margin-bottom: 4px;
			&:last-child {
				height: 35px;
			}
			&::placeholder {
				color: #fff;
			}
		}
		button {
			width: 237px;
	    height: 33px;
		}
	}
}

.comments {
	padding: 25px 0;
	&-title {
		h2 {
			color: #222665;
		}
	}
	&-items {
		width: 1110px;
    margin: 0 auto;
    position: relative;
	}
	&-item {
		width: 351px;
		min-height: 131px; 
		background: linear-gradient(to bottom left, #4070ad, #263b79);
		position: relative;
		padding: 5px 5px 5px 10px;
    border-radius: 75px;
    margin-right: 20px;
		&__img {
			position: absolute;
	    top: 50%;
	    margin-top: -72px;
	    left: -1px;
		}
		&__text {
			margin-left: 142px;
		}
		&__title {
			color: #ffffff;
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 27px;
			font-family: 'Roboto-Medium';
		}
		&__descr {
			color: #ffffff;
			font-size: 12px;
	    line-height: 14px;
		}
	}
	.slick-list {
		height: 191px;
    padding-top: 20px;
	}
	.slick-slide {
		margin-right: 10px;
	}
	.prev {
		background: url(../img/comments/right-arrow.svg);
		width: 36px;
		height: 87px;
		position: absolute;
		top: 50%;
    margin-top: -52px;
    right: -48px;
    cursor: pointer;
	}
	.next {
		background: url(../img/comments/left-arrow.svg);
		width: 36px;
		height: 87px;
		position: absolute;
		top: 50%;
    margin-top: -52px;
    left: -48px;
    cursor: pointer;
	}
}

.address {
	background: #fff;
	padding: 35px 0 0 0;
	&-container {
		width: 1110px;
		margin: 0 auto;
	}
	&-title {
		h2 {
			color: #222665;
			padding: 0 72px;
		}
	}
	&-items {
		display: flex;
	}
	&-descr {
		cursor: pointer;
		&__active {
			.address-descr-title {
				opacity: 1;
			}
			.address-descr-text {
				opacity: 1;
			}
		}
		&-title {
			background: -webkit-linear-gradient(top right, #4070ad, #263b79);
			background: -o-linear-gradient(top right, #4070ad, #263b79);
			background: linear-gradient(to bottom left, #4070ad, #263b79);
			color: #ffffff;
			font-size: 20px;
			line-height: 27px;
			text-transform: uppercase;
			opacity: .5;
			padding: 6px 72px;
		}
		&-list {
			margin-top: 25px;
			margin-bottom: 20px;
		}
		&-text {
			color: #222665;
			font-size: 18px;
			line-height: 27px;
			padding: 0 72px;
			opacity: .5;
		}
	}
	&-map {
		display: none;
		&__item {
	    width: 58%;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
		&__active {
			height: 100%;
			display: block;
		}
	}
}

.footer {
	&-wrap-social {
		background: url(../img/cost/cost-bg.jpg);
		padding: 7px 0 0 0;
		background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
	}
	&-items {
		display: flex;
		align-items: center;
	}
	&-title {
		margin-right: 105px;
		h2 {
			margin-bottom: 0;
		}
	}
	&-social {
		display: flex;
		&-icon {
			margin-right: 10px;
			border-radius: 50%;
			&:last-child {
				margin-right: 0;
			}
			img {
				cursor: pointer;
				transition: box-shadow .7s;
				border-radius: 50%;
			}
			img:hover {
		    box-shadow: 3px 3px 11px #000;
			}
		}
	}
	&-wrap-menu {
		background-color: #fff;
		padding: 15px 0;
	}
	&-nav-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__menu {
			&-list {
			display: flex;
			li:last-child {
				margin-right: 0;
			}
				&__link {
					list-style: none;
					margin-right: 15px;
					border-bottom: 2px solid #fff;
					transition: border 0.6s, border-bottom .9s;
					a {
						color: #222665;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						text-decoration: none;
						opacity: 0.5;
						transition: opacity 0.6s;
					}
				}
				&__link:hover a {
					opacity: 1;
				}
				&__link:hover {
					border-bottom: 2px solid #5eade9;
				}
			}
		}
	}
}

.modal-popup {
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: -400px;
  margin-top: -125px;
	width: 800px;
	border-radius: 15px;
	background-color: #1f2e6c;
	padding: 25px 30px;
	&-active {
		opacity: 1;
		z-index: 56;
		transition: opacity 1s;
		z-index: 80;
	}
	&-hide {
		opacity: 0;
		z-index: -1;
		transition: opacity 1s;
	}
	&-body {
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0, .5);
	}
	&-hedear {
		display: flex;
		justify-content: space-between;
	}
	&-close {
		color: #fff;
		font-size: 20px;
		cursor: pointer;
	}
	&-text {
		width: 82%;
		color: #ffffff;
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 30px;
	}
	&-form {
		&-items {
			display: flex;
			justify-content: space-between;
			&__item {
				width: 230px;
				margin-bottom: 10px;
				label {
					color: #ffffff;
					font-size: 15px;
					line-height: 18.07px;
					text-transform: uppercase;
					margin-left: 25px;
				}
				input {
					margin-bottom: 10px;
					padding: 6px 25px;
				}
				input::placeholder {
					text-transform: uppercase;
				}
				button {
					width: 100%;
			    padding: 4px 0;
				}
			}
		}
	}
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.mobile-burger {
	display: none;
	background: #95a3c2;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	position: fixed;
	z-index: 65;
	transition: 1s;
	span {
		background: #fff;
		width: 60%;
		height: 3px;
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -12px;
		top: 50%;
		margin-top: -1.5px;
		&:before {
			content: '';
			background: #fff;
			width: 100%;
			height: 3px;
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -12px;
			top: 50%;
			margin-top: -8px;
		}
		&:after {
			content: '';
			background: #fff;
			width: 100%;
			height: 3px;
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -12px;
			top: 50%;
			margin-top: 6px;
		}
	}
	&-active {
		z-index: 65;
		position: fixed;
		background: #000;
		top: 20px;
		span {
			background: #fff;
			width: 60%;
			height: 3px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: rotate(45deg);
			transition: 1s;
			&:before {
				content: '';
				background: #fff;
				width: 100%;
				height: 3px;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				top: 7px;
				transform: rotate(-90deg);
			}
			&:after {
				display: none;
			}
		}
	}
}

.mobile-catalog-burger {
	display: none;
	background: url(../img/header/mac.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	border: 2px solid #95a3c2;
	position: fixed;
	bottom: 5px;
	z-index: 65;
	transition: 1s;
	box-shadow:3px 3px 18px rgba(0, 0, 0, 0.53);
	&-active {
		z-index: 67;
		position: fixed;
		background: #000;
		top: 50px;
    left: 35px;
		width: 40px;
		height: 40px;
		border-radius: 40px;
    margin-left: -10px;
    margin-top: -2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
		span {
			background: #fff;
			width: 60%;
			height: 3px;
			display: block;
			position: absolute;
			left: 8px;
	    top: 16px;
			left: 50%;
			top: 50%;
			transform: rotate(45deg);
			transition: 1s;
			&:before {
				content: '';
				background: #fff;
				width: 100%;
				height: 3px;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
		    margin-top: -1px;
		    margin-left: -11px;
				transform: rotate(-90deg);
			}
			&:after {
				display: none;
			}
		}
	}
}

@media (max-width: 425px) {
	h2 {
		font-size: 22px;
		text-align: center;
	}
	.contacts-top {
		flex-direction: column;
	}
	.contacts-top__left {
		flex-direction: column;
	}
	.main-menu {
		flex-direction: column;
	}
	.menu-catalog-list {
		flex-direction: column;
	}
	.header .main-form {
		flex-direction: column;
		width: 100%;
	}
	.header {
		padding: 20px 0 40px 0;
		.main-subtitle p {
			width: 100%;
	    font-size: 20px;
	    text-align: center;
		}
		.menu {
			position: fixed;
	    z-index: 60;
	    background: rgba(#95a3c2, .98);
	    height: 100vh;
	    width: 100vw;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: flex;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
		}
		.menu-list {
			flex-direction: column;
			text-align: -webkit-center;
		}
		.menu-list__link {
			width: max-content;
	    margin-bottom: 12px;
		}
		.menu-list__link a {
			font-size: 20px;
		}
		.menu-catalog {
			position: fixed;
	    z-index: 66;
	    background: rgba(#95a3c2, .98);
	    width: 100vw;
	    height: 100%;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: none;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
			border-radius: 0;
	    overflow-y: scroll;
		}
		.menu-catalog-list {
			height: 300px;
		}
		.menu-catalog-list__link:last-child{
			margin-bottom: 130px; 
		}
		.menu-catalog-list__link span {
			position: static;
			margin-top: 0;
			min-height: 0;
			font-size: 14px;
		}
		.menu-catalog__active {
			img {
				width: 130%;
			}
		}
		.menu-catalog-list__link {
			margin-right: 0;
	    margin-bottom: 30px;
	    a {
	    	display: flex;
		    flex-direction: column;
		    img {
    	    margin-bottom: 10px;
		    }
	    }
		}
		.menu-catalog-list__link_cat {
	    pointer-events: none;
		}
		.menu-catalog-list__submenu {
			width: 200px;
	    left: 0;
	    position: absolute;
		}
		.contacts-top__placeOfWorck_adress {
	    font-size: 11px;
	    margin-right: 0;
		}
		.contacts-top__placeOfWorck_timeWorck {
			margin-top: 10px;
			margin-right: 0;
			font-size: 11px;
		}
		.contacts-top__phone {
			a {
				font-size: 12px;
			}
		}
		.contacts-top__right {
			margin-top: 20px;
		}
		.contacts-top__placeOfWorck {
	    flex-direction: column;
	    width: 100vw;
	    align-items: center;
	    padding-left: 130px;
		}
		.main-title {
	    margin-top: 16px;
	    h1 {
	    	font-size: 30px;
		    text-align: center;
		    line-height: 31px;
	    }
		}
		.main-form__left {
			width: 100%;
		}
		.main-form__right {
			width: 100%;
	    text-align: center;
		}
	}
	.mobile-burger {
		display: block;
    top: 70px;
    left: 20px;
	}
	.mobile-catalog-burger {
		display: block;
	}
	.btn-main {
		font-size: 13px;
	}
	.repair {
		padding: 30px;
		&-content {
			top: 0;
		}
		&-title {
			h2 {
				color: #222665;
			}
		}
		&-items__item_img {
			img {
				width: 100px;
				height: 100px;
			}
		}
		&-items__item_label {
			font-size: 15px;
		}
		&-items__item {
			margin-bottom: 10px;
		}
	} 
	.advantages {
		top: 5px;
		&-items {
			padding: 60px 0 0 0;
			.row {
				margin: 0;
			}
			&__item {
				border-radius: 20px;
			}
		}
		&-title {
			position: relative;
	    top: 60px;
		}
		&-items__item_title {
			font-size: 13px;
		}
		&-items__item_descr_text {
			p {
				font-size: 13px;
			}
		}
	}
	.cost {
		&-wrap {
			flex-direction: column;
		}
		&-wrap__descr_text p {
			width: 100%;
			font-size: 17px;
			line-height: 20px;
		}
		&-wrap__descr_title {
			margin-top: 150px;
		}
		&-wrap__descr_img {
			margin-top: 10px;
			img {
				width: 100%;
			}
		}
	}
	.workScheme {
		&-main {
			flex-direction: column;
		}
		&-steps {
			flex-direction: column;
		}
		&-main__text {
			font-size: 21px;
		}
		&-main__img_1 {
			justify-content: center;
			margin-bottom: 10px;
		}
		&-main__img_2 {
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
		}
		&-main__text {
			margin-bottom: 15px;
		}
		&-catalog-list {
			flex-direction: column;
		}
		&-header .workScheme-catalog {
			height: 100%;
		}
		&-catalog-list__link {
			a {
				flex-direction: column;
				display: flex;
				pointer-events: none;
			}
		}
		&-header .workScheme-catalog-list__link span {
			position: static;
			margin-top: 15px;
			color: #fff;
	    font-size: 13px;
		}
		&-header .workScheme-catalog-list__link img {
			width: auto;
		}
		&-header .workScheme-catalog-list__link {
			margin-right: 0;
		}
		&-header .workScheme-catalog-list__submenu {
			width: 310px;
	    left: -79%;
	    position: absolute;
	    top: 115px;
		}
		&-steps__step_title_1 {
			width: 100%;
		}
		&-steps__step_title {
			line-height: 32px;
		}
		&-steps__step_descr {
			margin: 10px 0 20px 5px;
		}
	} 
	.whatTech {
		&-items {
			flex-direction: column;
		}
		&-item {
			img {
				width: 100%;
			}
		}
		&-h2 {
			top: 18px;
		}
		&-title {
			margin-top: 20px;
			h2 {
				text-align: left;
			}
		}
		&-work__list_text {
			font-size: 17px;
		}
	}
	.popular {
		padding: 40px 10px;
		&-tiltle {
			h2 {
				line-height: 26px;
				span {
					padding-right: 0;
				}
			}
		}
		&-items {
			flex-direction: column;
		}
		&-items__main {
			flex-direction: column;
		}
		&-container {
			width: 100%;
			padding-left: 0;
		}
		&-items__left {
			width: 100%;
			margin-right: 0;
		}
		&-items__right {
			img {
				width: 100%;
			}
		}
		&-items__list_text {
			font-size: 17px;
		}
		&-items__list {
			margin-bottom: 15px;
		}
		&-items__right_text {
	    position: static;
	    margin-top: 0;
	    color: #222665;
	    font-size: 16px;
	    line-height: 22px;
	    width: 100%;
	    padding: 20px 10px;
			img {
				display: none; 
			}
		}
		&-items__right img {
			display: none;
		}
	}
	.time {
		padding: 40px 10px;
		&-items {
			flex-direction: column;
			width: 100%;
		}
		&-img {
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		&-form {
			width: 100%;
		}
		&-form__item {
			flex-direction: column;
		}
		&-subtitle {
			text-align: center;
			font-size: 20px;
		}
		&-form label {
			width: 100%;
	    font-size: 15px;
		}
		&-form input {
			font-size: 15px;
			margin-bottom: 20px;
		}
		.btn-main {
			display: block;
	    margin: 0 auto;
		}
	}
	.comments-item {
		width: 100vw !important;
	}
	.comments .prev {
		display: none;
	}
	.comments-items {
		width: 100%;
	}
	.address-items {
		flex-direction: column;
	}
	.address-container {
		width: 100%;
	}
	.address-map__item {
		width: 100%;
    height: 300px;
	}
	.footer-items {
		flex-direction: column;
	}
	.footer-title {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.footer-nav-items__menu-list {
		display: none;
	}
	.footer-nav-items {
		flex-direction: column;
	}
	.modal-popup {
	  width: 320px;
    padding: 15px;
    margin-right: -160px;
    margin-top: -220px;
    overflow-y: auto;
    .btn-main {
    	margin-top: 15px;
    }
	}
	.modal-popup-form-items {
		flex-direction: column;
    align-items: center;
	}
	.modal-popup-form-items__item label {
		font-size: 11px;
	}
	.modal-popup-form-items__item input {
		font-size: 13px;
		margin-bottom: -4px;
	}
}

@media (min-width: 426px) and (max-width: 769px) {
	h2 {
		font-size: 22px;
		text-align: center;
	}
	.contacts-top {
		flex-direction: column;
	}
	.contacts-top__left {
		flex-direction: column;
	}
	.main-menu {
		flex-direction: column;
	}
	.menu-catalog-list {
		flex-direction: column;
	}
	.header .main-form {
		flex-direction: column;
		width: 100%;
	}
	.header {
		padding: 20px 0 40px 0;
		.main-subtitle p {
			width: 100%;
	    font-size: 20px;
	    text-align: center;
		}
		.menu {
			position: fixed;
	    z-index: 60;
	    background: rgba(#95a3c2, .98);
	    height: 100vh;
	    width: 100vw;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: flex;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
		}
		.menu-list {
			flex-direction: column;
			text-align: -webkit-center;
		}
		.menu-list__link {
			width: max-content;
	    margin-bottom: 12px;
		}
		.menu-list__link a {
			font-size: 20px;
		}
		.menu-catalog {
			position: fixed;
	    z-index: 66;
	    background: rgba(#95a3c2, .98);
	    width: 100vw;
	    height: 100%;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: none;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
			border-radius: 0;
	    overflow-y: scroll;
		}
		.menu-catalog-list {
			height: 300px;
		}
		.menu-catalog-list__link span {
			position: static;
			margin-top: 0;
			min-height: 0;
			font-size: 14px;
		}
		.menu-catalog__active {
			img {
				width: 130%;
			}
		}
		.menu-catalog-list__link {
			margin-right: 0;
	    margin-bottom: 30px;
	    a {
	    	display: flex;
		    flex-direction: column;
		    img {
    	    margin-bottom: 10px;
		    }
	    }
		}
		.menu-catalog-list__link_cat {
	    pointer-events: none;
		}
		.menu-catalog-list__submenu {
			width: 200px;
	    left: 0;
	    position: absolute;
		}
		.contacts-top__placeOfWorck_adress {
			margin-right: 15px;
		}
		.contacts-top__placeOfWorck_timeWorck {
			margin-top: 10px;
			margin-right: 0;
		}
		.contacts-top__right {
			margin-top: 20px;
		}
		.contacts-top__placeOfWorck {
	    flex-direction: row;
	    width: 100vw;
	    align-items: baseline;
			justify-content: center;
		}
		.main-title {
	    margin-top: 16px;
	    h1 {
	    	font-size: 30px;
		    text-align: center;
		    line-height: 31px;
	    }
		}
		.main-form {
			input {
				width: 50%;
			}
		}
		.main-form__left {
			width: 100%;
			text-align: center;
		}
		.main-form__right {
			width: 100%;
	    text-align: center;
		}
	}
	.mobile-burger {
		display: block;
    top: 70px;
    left: 20px;
	}
	.mobile-catalog-burger {
		display: block;
	}
	.btn-main {
		font-size: 13px;
	}
	.repair {
		padding: 30px;
		&-content {
			top: 0;
		}
		&-title {
			h2 {
				color: #222665;
			}
		}
		&-items__item_img {
			img {
				width: 100px;
				height: 100px;
			}
		}
		&-items__item_label {
			font-size: 15px;
		}
		&-items__item {
			margin-bottom: 10px;
		}
	} 
	.advantages {
		top: 5px;
		&-items {
			padding: 60px 0 0 0;
			.row {
				margin: 0;
			}
			&__item {
				border-radius: 20px;
			}
		}
		&-title {
			position: relative;
	    top: 60px;
		}
		&-items__item_title {
			font-size: 13px;
		}
		&-items__item_descr_text {
			p {
				font-size: 13px;
			}
		}
	}
	.cost {
		&-wrap {
			flex-direction: column;
		}
		&-wrap__descr_text p {
			width: 100%;
			font-size: 17px;
			line-height: 20px;
		}
		&-wrap__descr_title {
			margin-top: 150px;
		}
		&-wrap__descr_img {
			margin-top: 10px;
			text-align: center;
			img {
				width: 50%;
			}
		}
	}
	.workScheme {
		&-main {
			flex-direction: column;
		}
		&-steps {
			flex-direction: column;
		}
		&-main__text {
			font-size: 21px;
		}
		&-main__img_1 {
			justify-content: center;
			margin-bottom: 10px;
		}
		&-main__img_2 {
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
		}
		&-main__text {
			margin-bottom: 15px;
		}
		&-catalog-list {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&-header .workScheme-catalog {
			height: 100%;
		}
		&-catalog-list__link {
			a {
				flex-direction: column;
				display: flex;
				pointer-events: none;
			}
		}
		&-header .workScheme-catalog-list__link span {
			position: static;
			margin-top: 15px;
			color: #fff;
	    font-size: 13px;
		}
		&-header .workScheme-catalog-list__link img {
			width: auto;
		}
		&-header .workScheme-catalog-list__link {
			margin-right: 0;
		}
		&-header .workScheme-catalog-list__submenu {
	    left: 50%;
	    margin-left: -105px;
	    width: 210px;
	    position: absolute;
	    top: 115px;
		}
		&-steps__step_title_1 {
	    width: 400px;
		}
		&-steps__step_title {
			line-height: 32px;
	    margin: 0 auto;
	    width: 300px;
		}
		&-steps__step_descr {
			margin: 10px 0 20px 5px;
		}
		&-steps__step {
			text-align: center;
		}
	} 
	.whatTech {
		&-items {
			flex-direction: column;
		}
		&-item {
			img {
				width: 80%;
			}
		}
		&-h2 {
			top: 50px;
		}
		&-title {
			margin-top: 20px;
			h2 {
				text-align: left;
			}
		}
		&-work__list_text {
			font-size: 17px;
		}
	}
	.popular {
		padding: 40px 10px;
		&-tiltle {
			h2 {
				line-height: 26px;
				span {
					padding-right: 0;
				}
			}
		}
		&-items {
			flex-direction: column;
		}
		&-items__main {
			flex-direction: column;
		}
		&-container {
			width: 100%;
			padding-left: 0;
		}
		&-items__left {
			width: 100%;
			margin-right: 0;
		}
		&-items__right {
			img {
				width: 100%;
			}
		}
		&-items__list_text {
			font-size: 17px;
		}
		&-items__list {
			margin-bottom: 15px;
		}
		&-items__right_text {
	    position: static;
	    margin-top: 0;
	    color: #222665;
	    font-size: 16px;
	    line-height: 22px;
	    width: 100%;
	    padding: 20px 10px;
			img {
				display: none; 
			}
		}
		&-items__right img {
			display: none;
		}
	}
	.time {
		padding: 40px 10px;
		&-items {
			flex-direction: column;
			width: 100%;
		}
		&-img {
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		&-form {
			width: 100%;
		}
		&-form__item {
			flex-direction: column;
	    width: 50%;
	    margin: 0 auto;
		}
		&-subtitle {
			text-align: center;
			font-size: 20px;
		}
		&-form label {
			width: 100%;
	    font-size: 15px;
		}
		&-form input {
			font-size: 15px;
			margin-bottom: 20px;
		}
		.btn-main {
			display: block;
	    margin: 0 auto;
		}
	}
	.comments-item {
		width: 100vw !important;
	}
	.comments .prev {
		display: none;
	}
	.comments-items {
		width: 100%;
	}
	.address-items {
		flex-direction: column;
	}
	.address-container {
		width: 100%;
	}
	.address-map__item {
		width: 100%;
    height: 300px;
	}
	.footer-items {
		flex-direction: column;
	}
	.footer-title {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.footer-nav-items__menu-list {
		display: none;
	}
	.footer-nav-items {
		flex-direction: column;
	}
	.modal-popup {
	  width: 320px;
    padding: 15px;
    margin-right: -160px;
    margin-top: -220px;
    overflow-y: auto;
    .btn-main {
    	margin-top: 15px;
    }
	}
	.modal-popup-form-items {
		flex-direction: column;
    align-items: center;
	}
	.modal-popup-form-items__item label {
		font-size: 11px;
	}
	.modal-popup-form-items__item input {
		font-size: 13px;
		margin-bottom: -4px;
	}
}

@media (min-width: 770px) and (max-width: 992px) {
	h2 {
		font-size: 22px;
		text-align: center;
	}
	.contacts-top {
		flex-direction: column;
	}
	.contacts-top__left {
		flex-direction: column;
	}
	.main-menu {
		flex-direction: column;
	}
	.menu-catalog-list {
		flex-direction: column;
	}
	.header .main-form {
		flex-direction: column;
		width: 100%;
	}
	.header {
		padding: 20px 0 40px 0;
		.main-subtitle p {
			width: 100%;
	    font-size: 20px;
	    text-align: center;
		}
		.menu {
			position: fixed;
	    z-index: 60;
	    background: rgba(#95a3c2, .98);
	    height: 100vh;
	    width: 100vw;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: flex;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
		}
		.menu-list {
			flex-direction: column;
			text-align: -webkit-center;
		}
		.menu-list__link {
			width: max-content;
	    margin-bottom: 12px;
		}
		.menu-list__link a {
			font-size: 20px;
		}
		.menu-catalog {
			position: fixed;
	    z-index: 66;
	    background: rgba(#95a3c2, .98);
	    width: 100vw;
	    height: 100%;
      top: -120%;
	    margin-right: 0;
	    left: 0;
      display: none;
	    justify-content: center;
	    align-items: center;
			transition: top 1s;
			border-radius: 0;
	    overflow-y: scroll;
		}
		.menu-catalog-list {
			height: 300px;
		}
		.menu-catalog-list__link span {
			position: static;
			margin-top: 0;
			min-height: 0;
			font-size: 14px;
		}
		.menu-catalog__active {
			img {
				width: 130%;
			}
		}
		.menu-catalog-list__link {
			margin-right: 0;
	    margin-bottom: 30px;
	    a {
	    	display: flex;
		    flex-direction: column;
		    img {
    	    margin-bottom: 10px;
		    }
	    }
		}
		.menu-catalog-list__link_cat {
	    pointer-events: none;
		}
		.menu-catalog-list__submenu {
			width: 350px;
	    left: 0;
	    position: absolute;
		}
		.contacts-top__placeOfWorck_adress {
			margin-right: 15px;
		}
		.contacts-top__placeOfWorck_timeWorck {
			margin-top: 10px;
			margin-right: 0;
		}
		.contacts-top__right {
			margin-top: 20px;
		}
		.contacts-top__placeOfWorck {
	    flex-direction: row;
	    width: 100vw;
	    align-items: baseline;
			justify-content: center;
		}
		.main-title {
	    margin-top: 16px;
	    h1 {
	    	font-size: 30px;
		    text-align: center;
		    line-height: 31px;
	    }
		}
		.main-form {
			input {
				width: 50%;
			}
		}
		.main-form__left {
			width: 100%;
			text-align: center;
		}
		.main-form__right {
			width: 100%;
	    text-align: center;
		}
	}
	.mobile-burger {
		display: block;
    top: 70px;
    left: 20px;
	}
	.mobile-catalog-burger {
		display: block;
	}
	.btn-main {
		font-size: 13px;
	}
	.repair {
		padding: 30px;
		&-content {
			top: 0;
		}
		&-title {
			h2 {
				color: #222665;
			}
		}
		&-items__item_img {
			img {
				width: 100px;
				height: 100px;
			}
		}
		&-items__item_label {
			font-size: 15px;
		}
		&-items__item {
			margin-bottom: 10px;
		}
	} 
	.advantages {
		top: 5px;
		&-items {
			padding: 60px 0 0 0;
			.row {
				margin: 0;
			}
			&__item {
				border-radius: 20px;
			}
		}
		&-title {
			position: relative;
	    top: 60px;
		}
		&-items__item_title {
			font-size: 13px;
		}
		&-items__item_descr_text {
			p {
				font-size: 13px;
			}
		}
	}
	.cost {
		&-wrap {
			flex-direction: column;
		}
		&-wrap__descr_text p {
			width: 100%;
			font-size: 17px;
			line-height: 20px;
		}
		&-wrap__descr_title {
			margin-top: 150px;
		}
		&-wrap__descr_img {
			margin-top: 10px;
			text-align: center;
			img {
				width: 50%;
			}
		}
	}
	.workScheme {
		&-main {
			flex-direction: column;
		}
		&-steps {
			flex-direction: column;
		}
		&-main__text {
			font-size: 21px;
		}
		&-main__img_1 {
			justify-content: center;
			margin-bottom: 10px;
		}
		&-main__img_2 {
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
		}
		&-main__text {
			margin-bottom: 15px;
		}
		&-catalog-list {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&-header .workScheme-catalog {
			height: 100%;
		}
		&-catalog-list__link {
			a {
				flex-direction: column;
				display: flex;
				pointer-events: none;
			}
		}
		&-header .workScheme-catalog-list__link span {
			position: static;
			margin-top: 15px;
			color: #fff;
	    font-size: 13px;
		}
		&-header .workScheme-catalog-list__link img {
			width: auto;
		}
		&-header .workScheme-catalog-list__link {
			margin-right: 0;
		}
		&-header .workScheme-catalog-list__submenu {
	    left: 50%;
	    margin-left: -105px;
	    width: 210px;
	    position: absolute;
	    top: 115px;
		}
		&-steps__step_title_1 {
	    width: 400px;
		}
		&-steps__step_title {
			line-height: 32px;
	    margin: 0 auto;
	    width: 300px;
		}
		&-steps__step_descr {
			margin: 10px 0 20px 5px;
		}
		&-steps__step {
			text-align: center;
		}
	} 
	.whatTech {
		&-items {
			flex-direction: column;
		}
		&-item {
			img {
				width: 80%;
			}
		}
		&-h2 {
			top: 50px;
		}
		&-title {
			margin-top: 20px;
			h2 {
				text-align: left;
			}
		}
		&-work__list_text {
			font-size: 17px;
		}
	}
	.popular {
		padding: 40px 10px;
		&-tiltle {
			h2 {
				line-height: 26px;
				span {
					padding-right: 0;
				}
			}
		}
		&-items {
			flex-direction: column;
		}
		&-items__main {
			flex-direction: column;
		}
		&-container {
			width: 100%;
			padding-left: 0;
		}
		&-items__left {
			width: 100%;
			margin-right: 0;
		}
		&-items__right {
			img {
				width: 100%;
			}
		}
		&-items__list_text {
			font-size: 17px;
		}
		&-items__list {
			margin-bottom: 15px;
		}
		&-items__right_text {
	    position: static;
	    margin-top: 0;
	    color: #222665;
	    font-size: 16px;
	    line-height: 22px;
	    width: 100%;
	    padding: 20px 10px;
			img {
				display: none; 
			}
		}
		&-items__right img {
			display: none;
		}
	}
	.time {
		padding: 40px 10px;
		&-items {
			flex-direction: column;
			width: 100%;
		}
		&-img {
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		&-form {
			width: 100%;
		}
		&-form__item {
			flex-direction: column;
	    width: 50%;
	    margin: 0 auto;
		}
		&-subtitle {
			text-align: center;
			font-size: 20px;
		}
		&-form label {
			width: 100%;
	    font-size: 15px;
		}
		&-form input {
			font-size: 15px;
			margin-bottom: 20px;
		}
		.btn-main {
			display: block;
	    margin: 0 auto;
		}
	}
	.comments-item__img {
		img {
			width: 100px;
		}
	}
	.comments-item__text {
		margin-left: 100px;
	}
	.comments .prev {
		display: none;
	}
	.comments-items {
		width: 100%;
	}
	.comments-items {
		width: 80%; 
		.slick-slide {
			margin-right: 10px;
		}
	}
	.address-items {
		flex-direction: column;
	}
	.address-container {
		width: 100%;
	}
	.address-map__item {
		width: 100%;
    height: 300px;
	}
	.footer-items {
		flex-direction: column;
	}
	.footer-title {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.footer-nav-items__menu-list {
		display: none;
	}
	.footer-nav-items {
		flex-direction: column;
	}
	.modal-popup {
	  width: 320px;
    padding: 15px;
    margin-right: -160px;
    margin-top: -220px;
    overflow-y: auto;
    .btn-main {
    	margin-top: 15px;
    }
	}
	.modal-popup-form-items {
		flex-direction: column;
    align-items: center;
	}
	.modal-popup-form-items__item label {
		font-size: 11px;
	}
	.modal-popup-form-items__item input {
		font-size: 13px;
		margin-bottom: -4px;
	}
}

@media (min-width: 993px) and (max-width: 1201px) {
	h2 {
		line-height: 36px;
	}
	.header .contacts-top__placeOfWorck_adress, .header .contacts-top__placeOfWorck_timeWorck {
		font-size: 13px;
	}
	.header .menu-list {
		a {
			font-size: 12px;
		}
	}
	.advantages-wrap {
		top: 5px;
		padding: 0 20px;
	}
	.advantages-items__item_descr_text {
		p {
			font-size: 14px;
		}
	}
	.workScheme-steps__step_title {
		min-height: 54px;
	}
	.workScheme-header .workScheme-catalog-list__submenu {
		width: 200px;
	}
	.cost-wrap__descr_title {
		h2 {
			line-height: 34px;
		}
	}
	.cost-wrap__descr_text {
		p {
			font-size: 18px;
		}
	}
	.workScheme-steps__step_title {
		font-size: 11px;
	}
	.popular-items {
		flex-wrap: wrap;
	}
	.popular-items__left {
		width: auto;
	}
	.popular {
		padding: 40px 10px;
		&-tiltle {
			h2 {
				line-height: 36px;
				span {
					padding-right: 0;
				}
			}
		}
		&-items {
			flex-direction: column;
		}
		&-items__main {
			flex-direction: column;
		}
		&-container {
			width: 100%;
			padding-left: 0;
		}
		&-items__left {
			width: 100%;
			margin-right: 0;
		}
		&-items__right {
			img {
				width: 100%;
			}
		}
		&-items__list_text {
			font-size: 17px;
		}
		&-items__list {
			margin-bottom: 15px;
		}
		&-items__right_text {
	    position: static;
	    margin-top: 0;
	    color: #222665;
	    font-size: 16px;
	    line-height: 22px;
	    width: 100%;
	    padding: 20px 10px;
			img {
				display: none; 
			}
		}
		&-items__right img {
			display: none;
		}
	}
	.time-img {
		width: 40%;
		margin-top: 60px;
		img {
			width: 100%;
		}
	}
	.time-items {
		width: 100%;
	}
	.time-subtitle {
		margin-bottom: 26px;
	}
	.comments-items {
		width: 80%; 
		.slick-slide {
			margin-right: 10px;
		}
	}
	.comments .prev {
		right: -37px;
	}
	.address-container {
		width: 100%;
	}
	.address-map__item {
		width: 100%;
	}
	.modal-popup {
		width: 800px;
	}
	.repair-menu-catalog__active {
		left: 48px;
	}
}

@media (min-width: 1200px) {
	.container-custom {
    max-width: 1092px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
	.container-workScheme {
    max-width: 1162px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
}

@media (min-width: 992px) and (max-width: 992px) { 
	.repair-menu-catalog__active {
		left: 81px;
    top: -36px;
    img {
    	width: 120px !important;
    	height: 200px !important;
    }
	}
}

@media (min-width: 770px) and (max-width: 992px) { 
	.repair-menu-catalog__active {
		left: 13px;
    top: -36px;
    img {
    	width: 120px !important;
    	height: 200px !important;
    }
	}
}

@media (min-width: 576px) and (max-width: 770px) { 
	.repair-menu-catalog__active {
		left: -8px;
    top: -36px;
    img {
    	width: 120px !important;
    	height: 200px !important;
    }
	}
}

@media (max-width: 575px) { 
	.repair-menu-catalog__active {
		display: none;
	}
}













